.section {
    font-size: 4em;
    text-align: center;
}

.moj-logo {
    background: url(img/moj-logo.svg) no-repeat;
    background-position: center;
    width: 100%;
    -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
    filter: hue-rotate(40deg) saturate(0.5) brightness(0%) saturate(4); 
    height: 100%;

    }

#fp-nav ul li a span {
    background: #fff;
}

p {
    color: #fff;
    font-size: 0.5em;
}

#section0 {
    background-image: url(img/placeholder-background1.svg);
    background-size: 7000px;
}

#section1 {
    background-image: url(img/placeholder-background2.svg);
    background-size: 3000px;
}

#section2 {
    background-image: url(img/placeholder-background3.svg);
    background-size: 7000px;
    filter: hue-rotate(100deg);
}

#section3 {
    background-image: url(img/placeholder-background4.svg);
    background-size: 3000px;
}

#section4 {
    background-image: url(img/placeholder-background5.svg);
    background-size: 19999px;
}

#section5 {
    background-image: url(img/placeholder-background6.svg);
    background-size: 7000px;
    filter: hue-rotate(180deg);
}

#section6 {
    background-image: url(img/placeholder-background7.svg);
    background-size: 5000px;
    filter: brightness(30%);
}

.logo-wrapper {
    height: 100%;
    padding: 0 35px;
}

#fp-nav {
    display: none;
}

.bandcampEmbed {
    display: block;
    margin: auto;
    width: 90%;
    border: 0;  
    height: 42px;
    padding: 4px;
}

.youtubeEmbed {
    width: 560px;
    height: 315px;
}

.fp-controlArrow.fp-next {
    right: 50px;
}

.fp-controlArrow.fp-prev {
    left: 50px;
}
