.section {
    font-size: 4em;
    text-align: center;
}

.moj-logo {
    background: url(img/moj-logo.svg) no-repeat;
    background-position: center;
    width: 100%;
    -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
    filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
    height: 200px;
}

#fp-nav ul li a span {
    background: #fff;
}

p {
    color: #fff;
    font-size: 0.5em;
}

#section0 {
    background-image: url(img/placeholder-background.svg);
    background-size: 7000px;
    }

