.section {
    font-size: 4em;
    text-align: center;
}

.moj-logo {
    width: 70%;
    max-width: 600px;
    fill: rgba(255, 255, 255, 0.84)
}

#fp-nav ul li a span {
    background: #fff;
}

p {
    color: #fff;
    font-size: 0.5em;
}

#section0 {
    background-image: url(img/moj-beach-mob.jpg);
    max-width: 100%;
    }

