#header {
	position: fixed;
	height: 42px;
	display: block;
	width: 100%;
	background: #292929;
	z-index: 101;
	text-align: center;
	color: #f2f2f2;
	padding: 0;
	font-family: 'Reem Kufi', sans-serif;
}

#button {
	border: none;
	color: white;
	padding-left: 15px;
	text-align: left;
	text-decoration: none;
	display: block;
	font-size: 18px;
	line-height: 5px;
}

#button:active {
	color: #000;
	background-color: #424242;
}
/*Hide all nav icons except the hamburger*/

nav li:not(.icon) {
	display: none;
}
/*Positioning for hamburger*/

.icon {
	position: absolute;
	top: 8px;
	right: 10px;
}

li {
	list-style: none;
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

ul.topnav.responsive {
	position: absolute;
	width: 100%;
	z-index: 199;
	margin: 0;
	padding: 0;
	top: 35px;
	height: 225px;
}

ul.topnav.responsive li.icon {
	position: absolute;
	top: -46px;
	right: 9px;
}

ul.topnav.responsive li {
	float: none;
	display: inline;
}

ul.topnav.responsive li a {
	position: relative;
	display: block;
	text-align: center;
	margin-top: 10px;
	padding: 11px 1px;
}

.topnav.responsive {
	background-color: #292929;
}

.burger {
	position: absolute;
	top: 12px;
	right: -5px;
	padding: 0;
	z-index: 200;
}

.hamburger-inner:before,
.hamburger-inner,
.hamburger-inner:after {
	background-color: #fff;
	height: 2px;
}

.hamburger .hamburger-inner:before {
	width: 10px;
}

.hamburger .hamburger-inner {
	width: 20px;
}

.hamburger .hamburger-inner:after {
	width: 30px;
}

.hamburger.is-active .hamburger-inner:before {
	width: 30px;
}

.hamburger.is-active .hamburger-inner {
	width: 30px;
}

.hamburger.is-active .hamburger-inner:after {
	width: 30px;
}

.hamburger-box {
	height: 20px;
}

.hamburger {
	padding: 0;
}

.mojNavtext {
	font-size: 22px;
	position: absolute;
	top: 6;
	left: 8;
	color: #fff;
	text-decoration: none;
}
.mojHide {
  display: none !important;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 15px;
    width: 15px;
    margin: -6px 0 0 -7px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    height: 6px;
    width: 6px;
}


/*RESPONSIVE*/

@media screen and (min-width: 760px) {
	/*Show all nav icons on wider screens and hide hamburger*/
	nav li:not(.icon) {
		display: inline-block;
	}
	.icon {
		display: none;
	}
	nav li {
		float: none;
	}
	ul {
		margin-top: 5px;
		padding: 0;
	}
	#button {
		display: inline-block;
		text-align: center;
		padding: 0;
		margin: 0 35px;
	}
	#button:active {
		color: #ffbd83;
		background-color: transparent;
	}
	.hamburger {
		display: none;
	}
	#header {
		height: 33px;
		background: none;
	}
	.mojNavtext {
	display: none;
}

.mojHide {
  display: block !important;
}


	@media screen and (min-width: 760px) and (max-width: 1025px) {
		#button {
			margin: 0 15px;
		}
	}