        @media screen and (min-width: 414px) {
    /********************************************
PAGE: INDEX
*********************************************/
    #section0 {
        background-image: url(img/moj-beach.jpg);
        background-size: contain;
        height: auto;
    }
        }
