        @media screen and (min-width: 760px) {
    /********************************************
PAGE: INDEX
*********************************************/

.moj-logo {
    max-width: 50%;
    margin: 0 auto;
    }

 #fp-nav {
    display: block;
}

.bandcampEmbed {
width: 40%;
}

}

