@media screen and (min-width: 520px) {
  #section4 li {
    font-size: 25px; }
  #section4 h3 {
    font-size: 30px; } }

@media screen and (min-width: 760px) {
  .logo {
    max-width: 50%;
    margin: 0 auto; }
  #fp-nav {
    display: block; }
  .bc-embed {
    width: 40%; }
  .fp-controlArrow.fp-next {
    right: 50px;
    border-width: 38.5px 0 38.5px 34px; }
  .fp-controlArrow.fp-prev {
    left: 50px;
    border-width: 38.5px 34px 38.5px 0; }
  .gig-wrapper {
    max-width: 60%;
    margin: 0 auto; }
  #section4 li {
    font-size: 25px; }
  #section4 h3 {
    font-size: 30px; }
  .img-slides {
    width: 60%; }
  .fp-controlArrow {
    top: 50%; } }
